img {
	max-width: 100%;
	height: auto;
}
.link {
	font-size: 20px;
	/*text-align: center;*/
	background-color: #e6ffff;
	float: left;
	/*margin-left: 5px;*/

}
a:link {
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    color: #FF00FF;
}
a:active {
    color: red;
}